* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  color: hsl(186, 14%, 43%);
}

.logo {
  display: block;
  margin: auto;
  padding: 40px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 30px;
}

.column__left {
  padding: 45px 40px;
}

.column__right {
  display: flex;
  flex-direction: column;
  padding: 45px 40px;
  border-radius: 15px;
  background-color: hsl(183, 100%, 15%);
}

.label--top {
  padding-bottom: 10px;
}

.label {
  padding: 30px 0 10px;
}

.sublabel {
  color: hsl(184, 14%, 56%);
  font-size: 14px;
}

.input__container {
  display: flex;
}

input[type=number] {
  flex: 1;
  text-align: right;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  color: hsl(183, 100%, 15%);
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: hsl(189, 41%, 97%);
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

input:focus {
  background-color: hsl(185, 41%, 84%);
  outline: none;
}

input::-moz-placeholder {
  color: hsl(184, 14%, 56%);
}

input::placeholder {
  color: hsl(184, 14%, 56%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#bill {
  background-image: url(images/icon-dollar.svg);
}

#people {
  background-image: url(images/icon-person.svg);
}

.number {
  padding: 10px;
  color: hsl(184, 14%, 56%);
}

.tip__container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 15px;
}

.tip {
  font-size: 24px;
  font-family: "Space Mono", monospace;
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 7px 0;
  color: hsl(189, 41%, 97%);
  background-color: hsl(183, 100%, 15%);
}

.tip:hover,
.tip:focus {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  transition: 0.3s;
}

#custom {
  background-color: hsl(189, 41%, 97%);
  text-align: center;
}

#custom:focus {
  background-color: hsl(185, 41%, 84%);
}

.label--right {
  display: block;
  color: hsl(189, 41%, 97%);
}

.amount__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount {
  font-size: 48px;
  color: hsl(172, 67%, 45%);
}

.u-margin-top {
  margin-top: 40px !important;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  border-radius: 8px;
  border: none;
  margin-top: auto;
  padding: 10px;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}

.button:hover {
  background-color: hsl(189, 41%, 97%);
  transition: 0.3s;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
  z-index: 99;
  position: absolute;
  bottom: 0;
}

.attribution a {
  color: hsl(183, 100%, 15%);
}/*# sourceMappingURL=style.css.map */